$color-1: #f9f9f9;
$color-2: #ffe0ac;
$color-3: #ffacb7;
$color-4: #6886c5;
$color-5: #333333;

/* $color-1: #F9F9F9;
$color-2: #F6ECBF;
$color-3: #CAADDE;
$color-4: #C886E5; */

$color-background: $color-1;
