@function str-replace($string, $search, $replace: '') {
	$index: str-index($string, $search);

	@if $index {
		@return str-slice($string, 1, $index - 1) + $replace +
			str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
	}

	@return $string;
}

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
	$src: null;

	$extmods: (
		eot: '?',
		svg: '#' + str-replace($name, ' ', '_'),
	);

	$formats: (
		otf: 'opentype',
		ttf: 'truetype',
	);

	@each $ext in $exts {
		$extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
		$format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
		$src: append($src, url(quote($path + '.' + $extmod)) format(quote($format)), comma);
	}

	@font-face {
		font-family: quote($name);
		font-style: $style;
		font-weight: $weight;
		src: $src;
	}
}

$font-weight-normal: 400;
$font-weight-bold: 700;

@include font-face('Castoro', '/fonts/Castoro-Regular', $font-weight-normal, normal, ttf);
@include font-face('Castoro', '/fonts/Castoro-Italic', $font-weight-normal, italic, ttf);
@include font-face('Biotif', '/fonts/Biotif-Regular', $font-weight-normal, normal, ttf);

$h-sizes: (
	1: (
		size: 5rem,
		weight: $font-weight-normal,
		text-transform: none,
	),
	2: (
		size: 2.5rem,
		weight: $font-weight-normal,
		text-transform: none,
	),
	3: (
		size: 1rem,
		weight: $font-weight-normal,
		text-transform: none,
	),
	4: (
		size: 0.75rem,
		weight: $font-weight-normal,
		text-transform: none,
	),
);
$p-size: 16px;

html {
	font-size: $p-size;
}

@mixin h-sizes {
	@each $key, $value in $h-sizes {
		h#{$key} {
			color: $color-5;
			font-family: 'Castoro', serif;
			font-size: map-get($value, 'size');
			font-weight: map-get($value, 'weight');
			text-transform: map-get($value, 'text-transform');
		}
	}
}
@include h-sizes;

p,
label,
span {
	@extend %font-props;
}

a {
	@extend %font-props;
	color: $color-3;
	user-select: none;

	&:hover,
	&:active {
		color: rgba($color-3, 0.3);
	}
}

%font-props {
	font-size: 1rem;
	font-family: 'Biotif', sans-serif;
	font-weight: $font-weight-normal;
	font-style: normal;
	color: $color-5;

	b {
		font-weight: $font-weight-bold;
	}
}
