/* 
 * FONT
 */

// Font classes
.ellipsis {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	display: block;
}

/* 
 * SIZES
 */
$sizes: (
	xs: 4px,
	s: 8px,
	m: 16px,
	l: 24px,
);
$positions: t, l, b, r;

@mixin size($pos, $size, $value, $type) {
	$position: top;

	@if $pos == b {
		$position: bottom;
	}

	&#{$pos}-#{$size} {
		#{$type}-#{$position}: $value;
	}
}

// Margin classes
.no-margin {
	margin: 0;
}

.m {
	@each $size, $sizeValue in $sizes {
		@each $pos in $positions {
			@include size($pos, $size, $sizeValue, margin);
		}
	}
}

// Padding classes
.no-padding {
	padding: 0;
}

.p {
	@each $size, $sizeValue in $sizes {
		@each $pos in $positions {
			@include size($pos, $size, $sizeValue, padding);
		}
	}
}

/* 
 * COLORS
 */

// Color classes
@mixin fill($suffix, $color) {
	&-#{$suffix} {
		background-color: $color;
	}
}

.emphasis {
	color: $color-4;
}

.fill {
	@include fill(1, $color-1);
	@include fill(2, $color-2);
	@include fill(3, $color-3);
	@include fill(4, $color-4);
	@include fill(5, $color-5);
}
