/* 
 * FONT
 */

.ellipsis {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	display: block;
}


/* 
 * SIZES
 */

$sizeFactor: 4px;
$sizes: (
	xs: $sizeFactor * 1,
	s: $sizeFactor * 2,
	m: $sizeFactor * 3,
	l: $sizeFactor * 4,
);
$positions: t, l, b, r;

@mixin size($pos, $size, $value, $type) {
	$position: top;

	@if $pos == b {
		$position: bottom;
	}

	&#{$pos}-#{$size} {
		#{$type}-#{$position}: $value;
	}
}

.no-margin {
	margin: 0;
}

// mt-xs, ml-xs, mb-xs, mr-xs
// mt-s, ml-s, mb-s, mr-s
// mt-m, ml-m, mb-m, mr-m
// mt-l, ml-l, mb-l, mr-l
.m {
	@each $size, $sizeValue in $sizes {
		@each $pos in $positions {
			@include size($pos, $size, $sizeValue, margin);
		}
	}
}

.no-padding {
	padding: 0;
}

// pt-xs, pl-xs, pb-xs, pr-xs
// pt-s, pl-s, pb-s, pr-s
// pt-m, pl-m, pb-m, pr-m
// pt-l, pl-l, pb-l, pr-l
.p {
	@each $size, $sizeValue in $sizes {
		@each $pos in $positions {
			@include size($pos, $size, $sizeValue, padding);
		}
	}
}


/* 
 * COLORS
 */

@mixin fill($suffix, $color) {
	&-#{$suffix} {
		background-color: $color;
	}
}

.emphasis {
	color: $color-4;
}

// fill-1, fill-2, fill-3, fill-4, fill-5
.fill {
	@include fill(1, $color-1);
	@include fill(2, $color-2);
	@include fill(3, $color-3);
	@include fill(4, $color-4);
	@include fill(5, $color-5);
}
