@use "sass:map";

@mixin setTheme($config, $variable) {
	// Setup
	#theme-provider[theme="#{map.get($config, 'name')}"] {
		--color-font: #{map.get($variable, 'color-font')};
		--color-anchor: #{map.get($variable, 'color-anchor')};
		--color-background: #{map.get($variable, 'color-background')};
		--color-button: #{map.get($variable, 'color-button')};
		--color-button-hover: #{map.get($variable, 'color-button-hover')};
		--color-button-hover-shadow: #{rgba(map.get($variable, 'color-button-hover-shadow'), 0.03)};
	}

	#theme-provider {
		background-color: var(--color-background);
		min-height: 100vh;
		transition: all 0.3s;
	}
}

@import './theme-variables';
