@function map-fetch($map, $keys) {
	$key: nth($keys, 1);
	$length: length($keys);
	$value: map-get($map, $key);
	@if ($length > 1) {
		$rest: ();
		@for $i from 2 through $length {
			$rest: append($rest, nth($keys, $i));
		}
		@return map-fetch($value, $rest);
	} @else {
		@return $value;
	}
}


// Global Colors

$color-font: var(--color-font);
$color-anchor: var(--color-anchor);
$color-background: var(--color-background);

// Components Colors
$color-button: var(--color-button);
$color-button-hover: var(--color-button-hover);
$color-button-hover-shadow: var(--color-button-hover-shadow);
