{
	"trailingComma": "es5",
	"printWidth": 120,
	"proseWrap": "preserve",
	"useTabs": true,
	"tabWidth": 4,
	"semi": false,
	"singleQuote": true,
	"quoteProps": "as-needed",
	"bracketSpacing": true,
	"jsxBracketSameLine": false,
	"arrowParens": "avoid",
	"requirePragma": false,
	"insertPragma": false,
	"htmlWhitespaceSensitivity": "css"
}
