.pf-page-home {
	display: flex;
	flex-direction: column;
	align-items: center;

	section {
		width: 80%;
	}

	section.pf-presentation {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	section.pf-introduction {
		display: flex;
		justify-content: center;
	}
}
