.pf-navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: ($sizeFactor * 3) ($sizeFactor * 4);
	backdrop-filter: blur(80px);
	background-color: rgba($color-background, 0.5);

    .social-buttons {
        display: flex;
        gap: $sizeFactor * 2;
    }
}
